@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/*font-family:"Orbitron", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wdth,wght@87.5,100..900&family=Orbitron&display=swap');
/*font-family: "Encode Sans SC", sans-serif;*/


.fondo{background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1px;
}

header img{
    width: 95px;
    height: 80px;
    margin-right: 5px;

}

ul{
    list-style:none; 
}
a{
    text-decoration: none;
    color: white;
}

.nav li a { text-decoration: none;
    color: white;
    font-family: "Encode Sans SC", sans-serif;
    font-size: 20px;
    margin-left: 90px;
}

.nav{ display: flex; 
    width:100%;
    height: 300px;
}


.contacto-nav{ 
    color: white;
    font-family: "Encode Sans SC", sans-serif;
    font-size: 8px;
    text-align: right;
    margin-left: 80px;
    
}
.contacto-nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacto-nav div img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.contacto-nav h3{
    display: inline-block;
}

.Ccristales{
    color: rgba(255, 255, 255, 0.5);
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align: center;
    display:flex;
    flex-direction: column;
}

/*fondo principal index*/
.Ccristales h1{background-image: url("../assest/imagenes/Bmw-inico.png");
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    padding-top: 35%;
}

.mini-servicios{ color: white;
    font-family:"Orbitron", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 10px;
    font-size: 16px;
}
.mini-servicios h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

/*linea divisora index*/
.linea-violeta-index{
    color: #481752;
    background-color: #481752;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 100px;
}
.autopartes{
    padding-top: 300px;
}

.catalogo{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.productos{display: flex;
    flex-direction: column;
    color: white;
    font-family: "Encode Sans SC", sans-serif;
    text-align: center;
}
.productos img{
    width:294px ;
    height: 396px;
}

.calcula-envio{color: white;
    background-color:#5f5a5a;
    margin-top: 100px;
}
.calcula-envio h2{
    font-size: 32px
}
.calcula-envio p{
    font-size: 24px;
}

.ubicacion-index{background-color: #5C5A55;
    display: flex;
    flex-direction: column;
}
.ubicacion-index h3{
    text-align: center;
}
.ubicacion-index h4{
    font-size: 50px;
    color: white;
    font-family:"Orbitron", sans-serif;
    text-align: right;
}


/*segundo fondo del index*/
.fondo2-index {background-image: url("../assest/imagenes/Bmw-2inicio.png");
    background-size: cover;
    height: 1400px;
    width: 100%;
    background-repeat: no-repeat;
    position: sticky;
}


.fondo-ini-servicio img{
    height: 650px;
}
.titulo{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align: left;
    margin-top: 5%;
}

/*TiTulos a la derecha*/
.titulo-right{color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align: right;
}


.mainColoc h1{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align:left;
    padding-top: 20px;
}



.sub-h2-raight h3{
    font-size: 32px;
}
.sub-left{display: flex;
    flex-direction: column;
    color:white;
    font-family:"Orbitron", sans-serif;
    text-align:left;
    font-size: 24px;
    margin-top: 0px;
    padding-left: 40px;
}

/*SERVICIOS*/
.fondo-ini-servicio{display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 120px;
}
.titulo-servicios{display: flex;
    flex-direction: column;
    color: white;
    font-family:"Orbitron", sans-serif;
    text-align: left;
}
.titulo-servicios h1{
    font-size: 75px;
    line-height: 20px;
}


.titulo-servicios h3{
    font-size: 32px;
    line-height: 10px;
}

/*Boton de servicios*/
.boton-info{
    text-align: center;
}
.boton-info button{
    color: white;
    font-family:"Orbitron", sans-serif;
    background-color: #481752;
    border: none;
    border-radius: 56px;
    padding: 20px 20px;
    width: 300px;
}
/*linea divisora*/
.linea-violeta{color: #481752;
    background-color: #481752;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 200px;
}


/*grabados*/
.grabados{
    display: flex;
    flex-direction: column;
    color:white;
    font-family:"Orbitron", sans-serif;
    text-align:left;
    font-size: 24px;
}
.grabados h2{
    font-size: 48px;
    margin-top: 100px;
}

.grabados h3{
    font-size: 32px;
}

/*texto de mantenimiento*/
.mantenimiento{display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    font-family:"Orbitron", sans-serif;
    padding-top: 5%;
}

.mantenimiento h2{
    font-size: 48px;
}
.mantenimiento h3{
    font-size: 32px;
    line-height: 10px;
}
.mantenimiento img{
    margin-top: 5%;
    width: 30%;
    height: 30%;
    border-radius: 30%;
}

/*polarizado*/
.polarizado{display: flex;
    flex-direction: row;
    color:white;
    font-family:"Orbitron", sans-serif;
    padding-top: 5%;
    justify-content: space-between;
}

.texto-pola{
    width: 60%;
}
.polarizado img{width:400px;
    height: 300px;
    border-radius: 30%;
    margin-top: 100px;
}

.polarizado h2{font-size: 48px;
}

.polarizado h3{font-size: 32px;
}

.polarizado p{
    font-size: 20px;
}





/*tipos de lamina de palorizados (explicacion)*/
.tipo-de-polarizado{
    font-size: 24px;
}
.img-polarizado{
    width: 360px;
    height: 340px;
}
/*Fin de pagina servicios*/



.sub-left{ width: 100%;
    height: 100%;
}
.sub-left h1{
    margin-top: 20px;
}
.sub-left h3{
    margin-top: 1px;
}

.sub-h2{color:white;
    font-family:"Orbitron", sans-serif;
    text-align:left;
    font-size: 60px;
}



.autopartes{color:white;
    font-family:"Orbitron", sans-serif;
}

.boton-compra{color: white;
    font-family:"Orbitron", sans-serif;
    background-color: #481752;
    padding: 20px 30px;
    border: none;
    border-radius: 56px;
}

.prud{color: white;
    font-family: "Encode Sans SC", sans-serif;
    font-size: 32px;
    text-align: center
}
.autopartes{color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 60px;
}

.autopartes img{
    width: 450px;
}


.galery-right img{ background-position:right;
    background-repeat: no-repeat;
}

.mainColoc{
    width: 100%;
    height: 1000px;
}
footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: white; 
}