

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/*font-family:"Orbitron", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wdth,wght@87.5,100..900&family=Orbitron&display=swap');
/*font-family: "Encode Sans SC", sans-serif;*/


.fondo{
    background-color: black;
}
/*General*/
@import "./base/general";

@import "./base/varibles.scss";

/*main de los HTML*/
@import "./layout/header";

@import "./layout/main-index";

@import "./layout/main-servicios";

@import "./layout/main-autopartes";

@import "./layout/main-colocacion";

@import "./layout/main-contacto";
/*fin de los HTML*/

/*Footer*/
@import "./layout/footer";

.titulo{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align: left;
    margin-top: 5%;
}

/*TiTulos a la derecha*/


.titulo-right{color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align: right;
}



.sub-h2-raight h3{
    font-size: 32px;
}
/*MediaQ-------------------------------------------------------*/
@media (max-width:1245px){
    /*Barra de navegacion*/
    header {
        width: 100%;
    }
    .nav li a{
        margin-left: 70px;
    }
    .contacto-nav{
        font-size: 7px;
        margin-left: 27px;
    }
        /*index-------------------------------------------------*/
    .Ccristales{
        width: 100%;
        height: 1300px;
    }
    .Ccristales h1{width: 100%;
        height: 90vh;
    }
    .mini-servicios{
        font-size: 14px;
        padding-right: 40px;
    }
    .linea-violeta-index{
        margin-left: 25%;
    }
    .fondo2-index{
        width: 100%;
    }
    .fondo2-index div{
        width: 100%;
    }
    .ubicacion-index h3{
        padding-left:  15px; ;
    }
    .ubicacion-index div h4{
        padding-right: 15px;
    }
    /*Autopartes.HTML------------------------------------------*/
    .img-fondo-aut div img{
        width: 500px;
        height: 600px;
    }
    .titulo-autorpartes{
        font-size: 60px;
    }
    .sub-autopartes{
        font-size: 24px;
    }
}

/*Barra de navegacion*/
@media (max-width:1202px) {
    header{
        width: 100%;
    }
    header img{
        width: 80px;
        height: 70px;
        margin-right: 1px;
    }
    .nav li a {
        font-size: 20px;
        margin-left:50px ;
    }
    .contacto-nav{
        font-size: 6px;
        margin-right: 10px;
        margin-left: 10px;
    }
}


/*segundo fondo index*/
@media (max-width:1175px) {
    .Ccristales{
        height: 1150px;
    }
    .fondo2-index{
        height: 1150px;
    }
}
@media (max-width:1113px){
    .Ccristales{
        height: 1100px;
    }
    .fondo2-index{
        height: 1100px;
    }
    /*Contacto.html-----------------------------------------*/
    .img-contacto{
        padding-top: 70px;
    }
    .img-contacto img{
        height: 700px;
    }
    .titulo-contacto {
        font-size: 60px;
    }
}

@media (max-width:1075px){
    .fondo2-index{
        height: 1050px;
    }
    /*Colocacion.html---------------------------------------*/
    .subtitulo-colocacion{
        font-size: 15px;
    }
    .video-colocacion video{
        width: 400px;
        height: 350px;
    }
    .img-colocacion img{
        width: 350px;
        height:300px ;
    }
    /*Fin Colocacion.html-----------------------------------*/
}
/* fin segundo fondo index*/
@media (max-width:1065px){
    .mini-servicios div p{
        font-size: 12px;
        text-align: center;
    }
    .mini-servicios div h3{
        font-size: 26px;
    }
    .boton-compra{
        padding: 15px 20px;
        width: 200px;
    }
    .productos img{
        width: 200px;
        height: 300px;
    }
    .ubicacion-index h3{
        font-size: 40px;
    }
    .ubicacion-index h4{
        font-size: 30px;
    }
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut div img{
        width: 450px;
        height: 550px;
    }
    .titulo-autorpartes{
        font-size: 54px;
    }
    .sub-autopartes{
        font-size: 20px;
    }
}
/* segundo fondo index*/
@media (max-width:1013px){
    .fondo2-index{
        height: 1000px;
    }
    /* fin segundo fondo index*/
    /*Colocacion.html---------------------------------------*/
    .titulo-colocacion{
        font-size: 60px;
        height: 600px;
    }
    .subtitulo-colocacion{
        font-size: 12px;
    }
    .multimedia-colocacion{
        padding-top: 300px;
    }
    /*Fin Colocacion.html-----------------------------------*/
    /*Contacto.html-----------------------------------------*/
    .img-contacto{
        padding-top: 65px;
    }
    .img-contacto img{
        height: 600px;
    }
}
    



@media (max-width:1004px){
    /*Barra de navegacion------------------------------------------------*/
    header img{
        width: 70px;
        height: 60px;
        margin-right: 1px;
    }
    .nav li a{
        font-size:15px;
        margin-left: 40px;
    }
    .contacto-nav{
        font-size: 6px;
    }

    /*Pie de pagina----------------------------------------------------*/
    footer{
        height: 40px;
    }

    /*servicios.html-----------------------------------------------*/
    .fondo-ini-servicio div img{
        height: 550px;
    }
    .titulo-servicios h1{
        font-size:50px ;
        line-height: 1%;
    }
    .titulo-servicios h3{
        font-size: 19px;
        line-height: 8px;
    }
    .grabados h2{
        font-size: 35px;
    }
    .grabados h3{
        font-size: 19px;
    }
    .mantenimiento div h2{
        font-size: 35px;
    }
    .mantenimiento div h3{
        font-size: 25px;
    }
    .polarizado img{
        width:300px;
        height:250px;
        border-radius:25%;
    }
    .texto-pola h2{
        font-size: 35px;
    }
    .texto-pola h3{
        font-size: 19px;
    }
    .linea-violeta{
        margin-top: 50px;
    }
    /* Cambios en Autopartes.html---------------------------------

    PRODUCTOS-------------------------*/

    /*Optica--------------------------*/
    .subtitulo-optica{
        font-size: 60px;
    }
    .catalogo-optica div{
        width: 200px;
        height: 300px;
        padding: 30px 30px;
    }
    /*Autopartes----------------------*/
    .subtitulo-autopartes{
        font-size: 60px;
    }
    .catalogo-autopartes div{
        width: 200px;
        height: 300px;
        padding: 30px 30px;
    }
    /*Guardaplast----------------------*/
    .subtitulo-guardaplast{
        font-size: 60px;
    }
    .catalogo-guardaplast div{
        width: 200px;
        height: 300px;
        padding: 30px 30px;
    }
    /*Paragolpe-----------------------*/
    .subtitulo-paragolpe{
        font-size: 60px;
    }
    .catalogo-paragolpes div{
        width: 200px;
        height: 300px;
        padding: 30px 30px;
    }
    /*Fin de productos------------------------------------------*/
}


@media (max-width:972px){
    /* segundo fondo index--------------------------------------*/
    .fondo2-index{
        height: 950px;
    }
    /*Cambios en Autopartes.html------------------------------*/

}
@media (max-width:922px){
    .Ccristales{
        margin-top: 70px;
        height: 800px;
    }
    .fondo2-index{
        height: 900px;
    }
    /* fin segundo fondo index*/
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut div img{
        width: 400px;
        height: 500px;
    }
    /*Colocacion.html---------------------------------------*/
    .subtitulo-colocacion{
        font-size: 10px;
    }
    .video-colocacion video{
        width: 350px;
        height: 300px;
    }
    .img-colocacion img{
        width: 300px;
        height:250px ;
    }
    .multimedia-colocacion{
        padding-top: 150px;
    }
    /*Contacto.html-----------------------------------------*/
    .img-contacto{
        padding-top: 65px;
    }
    .img-contacto img{
        height: 520px;
    }
    .titulo-contacto {
        font-size: 50px;
    }
}


@media (max-width:876px){
    /*Index (MINI SERVICIOS)--------------*/
    .mini-servicios div p{
        font-size: 10px;
    }
    .mini-servicios h3{
        font-size: 34px;
    }

    /*Index (TItulo polarizado)---------------*/
    .poli-index h2{
        font-size: 50px;
    }
    .poli-index p{
        font-size: 20px;
    }
}

@media (max-width:873px){
    /* segundo fondo index--------------------*/
    .fondo2-index{
        height: 840px;
    }
    /* fin segundo fondo index-------------------*/
}



@media (max-width:835px){
    .contacto-nav div img{
        width: 15px;
        height: 15px;
    }
    .pie-auropartes img{
        height: 40px;
    }
    /*servicio.html:section polarizado----------------------*/
    .texto-pola p{
        font-size:15px ;
    }
    .polarizado img{
    width: 250px;
    height: 200px;
    }
    /*Autopartes.html-------------------------*/
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut div img{
        width: 350px;
        height: 400px;
    }
    .titulo-autorpartes{
        font-size: 50px;
    }
    .sub-autopartes{
        font-size: 16px;
    }
    .linea-violeta-autopartes{
        margin-top: 150px;
    }
    /*PRODUCTOS-------------*/
    /*Optica----------*/
    .subtitulo-optica{
        font-size: 52px;
    }
    .catalogo-optica div{
        width: 170px;
        height: 270px;
        padding: 30px 30px;
    }
    /*Autopartes-------------------------------*/
    .subtitulo-autopartes{
        font-size: 52px;
    }
    .catalogo-autopartes div{
        width: 170px;
        height: 270px;
        padding: 30px 30px;
    }
    /*Guardaplast--------------------------------*/
    .subtitulo-guardaplast{
        font-size: 52px;
    }
    .catalogo-guardaplast div{
        width: 170px;
        height: 270px;
        padding: 30px 30px;
    }
    /*Paragolpe-----------------------------------*/
    .subtitulo-paragolpe{
        font-size: 52px;
    }
    .catalogo-paragolpes div{
        width: 170px;
        height: 270px;
        padding: 30px 30px;
    }
}

@media (max-width:823px){
    /* segundo fondo index-----------------------------*/
    .fondo2-index{
        height: 800px;
    }
    /* fin segundo fondo index--------------------------*/

    /*Colocacion.HTML---------------------------------------*/
    .fondo-colocacion{
        height: 600px;
    }
    .titulo-colocacion{
        height: 500px;
    }
    .multimedia-colocacion{
        padding-top: 100px;
    }
}



@media (max-width:813px){
    /*barra de navegacion-------------------------------------*/
    .nav li a{
        margin-left: 30px;
    }
    /*Colocacion.html---------------------------------------*/
    .subtitulo-colocacion{
        font-size: 10px;
    }
    .video-colocacion video{
        width: 300px;
        height: 250px;
    }
    .img-colocacion img{
        width: 250px;
        height:200px ;
        margin-top: 30px;
    }
    /*Fin Colocacion.html-----------------------------------*/
}
/* segundo fondo index*/
@media (max-width:783px){
    .Ccristales{
        height: 700px;
    }
    .Ccristales h1{
        font-size: 70px;
    }
    .fondo2-index{
        height: 770px;
    }
}
/* fin segundo fondo index*/


@media (max-width:773px){
    /*Imagens de productos INDEX*/
    .productos img{
        width: 150px;
        height: 250px;
        padding-left:30px ;
    }
}

@media (max-width:763px){
    /* segundo fondo index*/
    .fondo2-index{
        height: 720px;
    }
    /* fin segundo fondo index*/
    /*Colocacion.html---------------------------------------*/
    .fondo-colocacion{
        height: 550px;
    }
    /*FIN Colocacion.html---------------------------------------*/
}


@media (max-width:742px){
    /*mini serivicos INDEX*/
    .mini-servicios div p{
        font-size: 9px;
    }
    .mini-servicios div h3{
        font-size: 20px;
    }
    /*Colocacion.html---------------------------------------*/
    .titulo-colocacion{
        font-size: 50px;
        height: 500px;
    }
    .subtitulo-colocacion{
        font-size: 9px;
    }
    .video-colocacion video{
        width: 250px;
        height: 200px;
    }
    .img-colocacion img{
        width: 200px;
        height:150px ;
        margin-top: 30px;
    }
    /*Fin Colocacion.html-----------------------------------*/
}

@media (max-width:723px){
    .Ccristales{
        height:650px ;
    }
    .fondo2-index{
        height: 690px;
    }
    /*Barra de navegacion*/
    header img{
        width: 50px;
        height: 40px;
    }
    .nav li a{
        font-size:12px ;
    }
    .contacto-nav{
        font-size: 5px;
        line-height: 2px;
    }
    /* Cambios en Autopartes.html*/
    .boton-compra{
        width: 150px;
    }
    /*Contacto.html-----------------------------------------*/
    .nav{
        padding-top: 0.5%;
    }
    .img-contacto{
        padding-top: 50px;
    }
    .img-contacto img{
        height: 450px;
    }
    .titulo-contacto {
        font-size: 40px;
    }
    .subtitulo-contacto h2{
        font-size: 16px;
    }
    .direccion h2{
        font-size: 20px;
    }
    .direccion h3{
        font-size: 16px;
    }
    iframe{
        width: 250px;
        height: 250px;
    }
}

@media (max-width:703px){
    /* segundo fondo index*/
    .fondo2-index{
        height: 690px;
    }
    /* fin segundo fondo index*/
    /*Servicio.HTML------------------------------------------*/
    .fondo-ini-servicio div img {
        height: 400px;
    }
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut div img{
        width: 300px;
        height: 350px;
    }
    .titulo-autorpartes{
        font-size: 46px;
    }
    .sub-autopartes{
        font-size: 12px;
    }
}



@media (max-width:696px){
    .fondo2-index{
        height: 650px;
    }
    /*mini serivicos INDEX*/
    .mini-servicios{
        padding-left: 35px;
    }
    /*Camioncito de HTML*/
    .calcula-envio img{
        margin-left:90%;
    }
    /*Boton de compra de index*/
    .boton-compra{
        padding:10px 15px;
        width: 150px;
    }

    /*Servicio.html---------------------------------------------*/
    .fondo-ini-servicio{
        padding-top: 90px;
    }
    .fondo-ini-servicio img{
        height:400px; 
    }
    .mantenimiento img{
        width:25% ;
        height: 25%;
    }
    .polarizado img{
        width: 190px;
        height: 140px;
    }
    /*Autopartes.HTML-------------------------------------------*/
    /*Optica*/
    .subtitulo-optica{
        font-size: 48px;
    }
    .catalogo-optica div{
        width: 130px;
        height: 230px;
        padding: 30px 30px;
    }
    /*Autopartes*/
    .subtitulo-autopartes{
        font-size: 48px;
    }
    .catalogo-autopartes div{
        width: 130px;
        height: 230px;
        padding: 30px 30px;
    }
    /*Guardaplast*/
    .subtitulo-guardaplast{
        font-size: 48px;
    }
    .catalogo-guardaplast div{
        width: 130px;
        height: 230px;
        padding: 30px 30px;
    }
    /*Paragolpe*/
    .subtitulo-paragolpe{
        font-size: 48px;
    }
    .catalogo-paragolpes div{
        width: 130px;
        height: 230px;
        padding: 30px 30px;
    }
        /*Colocacion.html---------------------------------------*/
    .fondo-colocacion{
        height: 500px;
    }
    .titulo-colocacion {
        font-size: 50px;
        height: 500px;
    }
    .subtitulo-colocacion{
        font-size: 9px;
    }
    .multimedia-colocacion{
        padding-top: 150px;
    }

    .video-colocacion video{
        width: 250px;
        height: 200px;
    }
    .img-colocacion img{
        width:150px;
        height:150px ;
        margin-top: 30px;
        border-radius: 50px;
    }
    .subtitulo-colocacion{
        font-size: 8px;
    }
    /*Fin Colocacion.html-----------------------------------*/
}

@media (max-width:646px){

    .Ccristales{
        height:600px ;
    }
    .Ccristales h1{
        font-size:60px;
    }
    .fondo2-index{
        height: 620px;
    }
    /*mini serivicos INDEX*/
    .mini-servicios div p{
        font-size:8px;
    }
    .mini-servicios div h3{
        font-size:16px;
    }
}

@media (max-width:633px){
    /*Barra de navegacion---------------------------------------*/
    .contacto-nav div img{
        width:10px;
        height: 10px;
    }
    .nav li a{
        font-size: 9px;
        margin-left: 20px;
    }
    /*servico.html----------------------------------------------*/
    .titulo-servicios h1{
        font-size:35px ;
    }
    .titulo-servicios h3{
        font-size: 14px;
    }   
    .boton-info button{
        padding: 10px 10px;
        width: 150px;
    }
    .grabados h2{
        font-size: 25px;
    }
    .grabados h3{
        font-size: 14px;
    }
    .mantenimiento div h2{
        font-size:25px ;
    }
    .mantenimiento div h3{
        font-size: 14px;
    }
    .texto-pola h2{
        font-size: 25px;
    }
    .texto-pola h3{
        font-size: 14px;
    }
    .texto-pola p{
        font-size: 12px;
    }
    .polarizado img{
        width: 140px;
        height: 100px;
    }
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut div img{
        width: 270px;
        height: 320px;
    }
    .titulo-autorpartes{
        font-size: 42px;
    }
    .sub-autopartes{
        font-size: 12px;
    }
    /*Colocacion.html-------------------------------------------*/
    .fondo-colocacion{
        margin-top: 50px;
        height: 450px;
    }
    .titulo-colocacion {
        font-size: 50px;
        height: 400px;
    }
}

@media (max-width:608px){
    .Ccristales{
        margin-top: 50px;
        height:550px ;
    }
    .fondo2-index{
        height:590px ;
    }
    /*img Productos index*/
    .productos img{
        width: 100px;
        height: 150px;
    }
    /*Texto (UBICACION)*/
    .ubicacion-index h3{
        font-size: 35px;
    }
    .ubicacion-index h4{
        font-size: 25px;
    }
    /*Optica*/
    .subtitulo-optica{
        font-size: 40px;
    }
    .catalogo-optica div{
        width: 100px;
        height: 200px;
        padding: 30px 30px;
    }
    /*Autopartes*/
    .subtitulo-autopartes{
        font-size: 40px;
    }
    .catalogo-autopartes div{
        width: 100px;
        height: 200px;
        padding: 30px 30px;
        }
    /*Guardaplast*/
    .subtitulo-guardaplast{
        font-size: 40px;
    }
    .catalogo-guardaplast div{
        width: 100px;
        height: 200px;
        padding: 30px 30px;
    }
    /*Paragolpe*/
    .subtitulo-paragolpe{
        font-size: 40px;
    }
    .catalogo-paragolpes div{
        width: 100px;
        height: 200px;
        padding: 30px 30px;
    }
    .boton-compra{
        padding:10px 15px;
        width: 100px;
    }
    /*Colocacion.html---------------------------------------*/
    .titulo-colocacion{
        font-size: 40px;
        height: 450px;
    }
    .subtitulo-colocacion{
        font-size: 7px;
    }
    .video-colocacion video{
        width: 200px;
        height: 150px;
    }
    .img-colocacion img{
        width: 150px;
        height:150px ;
        margin-top: 20px;
    }
    /*Fin Colocacion.html-----------------------------------*/

    /*Contacto.html-----------------------------------------*/
    .img-contacto{
        padding-top: 40px;
    }
    .img-contacto img{
        height: 400px;
    }
}


@media (max-width:571px){
    .Ccristales{
        height: 500px;
    }
    .poli-index h2{
        font-size: 40px;
    }
    .poli-index p{
        font-size: 16px;
    }
    .fondo2-index{
        height: 540px;
    }
    .ubicacion-index h3{
        font-size:25px ;
    }
    .ubicacion-index h4{
        font-size: 20px;
    }
    /*Pie de pagina*/
    footer{
        height: 20px;
    }
    .mini-servicios div p{
        font-size: 7px;
    }
    .mini-servicios h3{
        font-size: 26px;
    }
    .mini-servicios{
        padding-left: 20px;
    }
    /*Autopartes.HTML-----------------------------------------*/
    .img-fondo-aut{
        margin-top: 70px;
    }
    .img-fondo-aut div img{
        width: 220px;
        height: 270px;
    }
    .titulo-autorpartes{
        font-size: 38px;
    }
    .sub-autopartes{
        font-size: 10px;
    }
    /*Colocacion.html---------------------------------------*/
    .fondo-colocacion {
        margin-top: 50px;
        height: 400px;
    }
    .titulo-colocacion {
        font-size: 40px;
        height: 350px;
    }
    .subtitulo-colocacion{
        font-size: 6px;
    }
    .multimedia-colocacion {
        padding-top: 70px;
    }
    .video-colocacion video{
        width: 170px;
        height: 120px;
    }
    .img-colocacion img{
        width: 120px;
        height:120px ;
        margin-top: 20px;
    }
    /*Fin Colocacion.html--------------------------------------*/
}

@media (max-width:546px){
    /*Contacto.html-----------------------------------------*/
    .nav{
        padding-top: 0.2%;
    }
    .img-contacto{
        padding-top: 40px;
    }
    .img-contacto img{
        height: 350px;
    }
    .titulo-contacto {
        font-size: 30px;
    }
    .subtitulo-contacto h2{
        font-size: 12px;
    }
    .direccion h2{
        font-size: 16px;
    }
    .direccion h3{
        font-size: 12px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
}


@media (max-width:510px){
    /*Barra de navegacion--------------------------------------*/
        .nav li a{
        margin-left: 10px;
    }
    .Ccristales{
        height: 450px;
    }
    .Ccristales h1{
        padding-top: 120px;
        font-size: 50px;
    }
    .fondo2-index{
        height: 470px;
    }
    /*Servicios.html-------------------------------------------*/
    .fondo-ini-servicio div img{
        height: 300px;
        width:100% ;
    }
    .grabados{
        padding-top: 70px;
    }
    /*Colocacion.html---------------------------------------*/
    .fondo-colocacion {
        margin-top: 50px;
        height: 300px;
    }
    .titulo-colocacion {
        font-size: 30px;
        height: 250px;
    }
}

@media (max-width:508px){
    /*Colocacion.html---------------------------------------*/
    .titulo-colocacion {
        font-size: 30px;
        height: 250px;
    }
    /*Autopartes.HTML----------------------------------------*/
    .img-fondo-aut{
        margin-top: 70px;
    }
    .img-fondo-aut div img{
        width: 170px;
        height: 220px;
    }
    .titulo-autorpartes{
        font-size: 34px;
    }
    .linea-violeta-autopartes {
        margin-top: 80px;
    }
}

@media (max-width:488px){    
    .nav{
        padding-top: 0%;
        margin-top:5% ;
    }
    .boton-compra{
        padding: 5px 10px;
        width: 80%;
    }
    .productos img{
        padding-left: 1px;
    }
    /*Colocacion.html---------------------------------------*/
    .fondo-colocacion {
        margin-top: 50px;
        height: 200px;
        width: 100%;
        margin-right: 40px;
    }
    .titulo-colocacion {
        font-size: 30px;
        height: 190px;
    }
    .img-colocacion img {
        width: 120px;
        height: 120px;
        margin-left: 40px;
    }
    /*Contacto.html-----------------------------------------*/

    .img-contacto{
        padding-top: 37px;
    }
    .img-contacto img{
        height: 300px;
    }

}
@media (max-width:467px){
    /*Barra de navegacion-----------------------------*/
    header{
        display: flex;
    }
    header img{
        width: 30px;
        height: 40px;
        align-items: center;
    }
    .nav li a{
        font-size: 7px;
        margin-left: 7px;
    }
    /*index-------------------------------------------*/
    .Ccristales{
        height: 400px;
    }
    .productos p{
        font-size:10px ;
    }
    .fondo2-index{
        height: 440px;
    }
    .ubicacion-index h3{
        font-size: 20px;
    }
    .ubicacion-index h4{
        font-size: 12px;
    }
    /*servicio.html-------------------------------------*/
    .titulo-servicios h1{
        font-size: 25px;
    }
    .titulo-servicios h3{
        font-size: 12px;
    }
    .grabados h2{
        font-size: 19px;
    }
    .grabados h3{
        font-size: 12px;
    }
    .mantenimiento div h2{
        font-size: 19px;
    }
    .mantenimiento div h3{
        font-size: 12px;
    }
    .texto-pola h2{
        font-size: 19px;
    }
    .texto-pola h3{
        font-size: 12px;
    }
    .texto-pola p {
        font-size: 10px;
    }
    .polarizado img{
        width: 100px;
        height: 60px;
    }
        /*Autoparte.html---------------------------------------*/
    /*Optica*/
    .subtitulo-optica{
        font-size: 32px;
    }
    .catalogo-optica div{
        width: 70px;
        height: 110px;
        padding: 30px 30px;
    }
    /*Autopartes*/
    .subtitulo-autopartes{
        font-size: 32px;
    }
    .catalogo-autopartes div{
        width: 70px;
        height: 110px;
        padding: 30px 30px;
    }
    /*Guardaplast*/
    .subtitulo-guardaplast{
        font-size: 32px;
    }
    .catalogo-guardaplast div{
        width: 70px;
        height: 110px;
        padding: 30px 30px;
    }
    /*Paragolpe*/
    .subtitulo-paragolpe{
        font-size: 32px;
    }
    .catalogo-paragolpes div{
        width: 70px;
        height: 110px;
        padding: 30px 30px;
    }
    .boton-compra{
        font-size: 10px;
    }
    /*Colocacion.html-------------------------------------------*/
    .subtitulo-colocacion {
        font-size: 5px;
    }
}

@media (max-width:439px){
    .Ccristales{
        height: 350px;
    }
    .Ccristales h1{
        font-size: 40px;
        padding-top: 100px;
    }
    .calcula-envio img{
        width: 30px;
        height: 30px;
    }
    .fondo2-index{
        height: 400px;
    }
    .poli-index h2{
        font-size: 30px;
    }
    .poli-index p{
        font-size: 12px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
    .boton-compra{
        font-size: 8px;
    }    
    /*Autopartes.HTML----------------------------------------*/
    .img-fondo-aut{
        margin-top: 50px;
    }
    .img-fondo-aut div img{
        width: 120px;
        height: 170px;
    }
    .titulo-autorpartes{
        font-size: 30px;
    }
    .linea-violeta-autopartes {
        margin-top: 80px;
    }
    /*Colocacion.html---------------------------------------*/
    .img-colocacion img {
        width: 120px;
        height: 120px;
        margin-left: 15px;
    }
    /*Contacto.html-----------------------------------------*/
    .img-contacto{
        padding-top: 34px;
    }
    .img-contacto img{
        height: 250px;
    }
    .titulo-contacto {
        font-size: 20px;
    }
    .subtitulo-contacto h2{
        font-size: 8px;
    }
    .direccion h2{
        font-size: 12px;
    }
    .direccion h3{
        font-size: 8px;
    }
    iframe{
        width: 150px;
        height: 150px;
    }
}

@media (max-width:393px){
    /*Barra de navegacion*/
        .nav li a{
            font-size: 5px;
            margin-left: 5px;
        }
        .contacto-nav{
            font-size: 4px;
            line-height: 1px;
        }
        .contacto-nav div img{
            width: 7px;
            height: 7px;
        }
        .Ccristales{
            height: 450px;
        }
        .fondo2-index{
            height: 370px;
        }
}

@media (max-width:393px){
    
    .mini-servicios div p{
        font-size: 6px;
    }
    .mini-servicios div h3{
        font-size: 12px;
    }
    .Ccristales{
        height: 300px;
    }
    .Ccristales h1{
        padding-top: 80px;
    }
    .fondo2-index{
        height: 350px;
    }

    /*Optica*/
    .subtitulo-optica{
        font-size: 16px;
    }
    .catalogo-optica div{
        width: 50px;
        height: 90px;
        padding: 30px 30px;
    }
    /*Autopartes*/
    .subtitulo-autopartes{
        font-size: 16px;
    }
    .catalogo-autopartes div{
        width: 50px;
        height: 90px;
        padding: 30px 30px;
    }
    /*Guardaplast*/
    .subtitulo-guardaplast{
        font-size: 16px;
    }
    .catalogo-guardaplast div{
        width: 50px;
        height: 90px;
        padding: 30px 30px;
    }
    /*Paragolpe*/
    .subtitulo-paragolpe{
        font-size: 16px;
    }
    .catalogo-paragolpes div{
        width: 50px;
        height: 90px;
        padding: 30px 30px;
    }
    .boton-compra{
        font-size: 5px;
    }
    /*Servicios.html-------------------------------------------*/
    .fondo-ini-servicio{
        padding-top: 70px;
    }
    .fondo-ini-servicio div img{
        height: 200px;
        width:100% ;
    }
    /*Colocacion.html---------------------------------------*/
    .fondo-colocacion {
        margin-top: 0px;
        height: 200px;
        margin-top: 40px;
    }
    .subtitulo-colocacion {
        font-size: 4px;
    }
    .titulo-colocacion {
        font-size: 30px;
        height: 170px;
    }
    .img-colocacion img {
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }
    .video-colocacion video {
        width: 150px;
        height: 100px;
    }
}

@media (max-width:353px){
    /*Autopartes.HTML----------------------------------------*/
    .img-fondo-aut{
        margin-top: 40px;
    }
    .img-fondo-aut div img{
        width: 120px;
        height: 170px;
    }
    .titulo-autorpartes{
        font-size: 20px;
    }
    .sub-autopartes{
        font-size: 9px;
    }
    .linea-violeta-autopartes {
        margin-top: 40px;
    }
}