/*Colocacion.html*/


.mainColoc{
    width: 100%;
}

.fondo-colocacion{
    background-image: url("../assest/imagenes/Colocacion/prueba2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    margin-top: 90px;
}

.titulo-colocacion{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align:left;
    height: 600px;
    margin-top: 0;
}
.subtitulo-colocacion{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 20px;
    text-align:left;

}



.multimedia-colocacion{
    display: flex;
    padding-top: 350px;
    padding-left: 10px;
    padding-right: 10px;
}
.img-colocacion{
    justify-content: left;
    width: 100%;

}
.img-colocacion img{
    border-radius: 66px;
    width: 420px;
    height:350px ;
    margin-left: 50px;
}

.video-colocacion{
    display: flex;
    justify-content: right;
    width: 100%;
}
.video-colocacion video{
    border-radius: 66px;
    width: 500px;
    height: 400px;
    padding-right: 20px;
    padding-top: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 100px;
}