
.img-contacto{
    width: 100%;
    padding-top: 100px;
}
.img-contacto img {
    height: 100%;
    width: 100%;
}

.titulo-contacto{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 80px;
    text-align:left;
    margin-top: 0;
}


.subtitulo-contacto h2{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    text-align: left;
}

.direccion{
    color: white;
    font-family:"Orbitron", sans-serif;
    text-align: right;
}

.direccion h2{
    font-size: 25px;
}

.direccion h3{
    font-size: 20px;
}